<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home Page</a>
    </nav>

    {% block body %}
    {% endblock body %}

    <footer>
        <h3>Footer</h3>
    </footer>
</body>
</html>